[Desktop Entry]
Encoding=UTF-8
Name=BeetleCoin
Comment=BeetleCoin P2P Cryptocurrency
Comment[fr]=BeetleCoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=BeetleCoin, eşten eşe kriptografik sanal para birimi
Exec=beetlecoin-qt %u
Terminal=false
Type=Application
Icon=beetlecoin128
MimeType=x-scheme-handler/beetlecoin;
Categories=Office;Finance;
