[Unit]
Description=BeetleCoin's distributed currency daemon
After=network.target

[Service]
User=beetlecoin
Group=beetlecoin

Type=forking
PIDFile=/var/lib/beetlecoind/beetlecoind.pid

ExecStart=/usr/bin/beetlecoind -daemon -pid=/var/lib/beetlecoind/beetlecoind.pid \
          -conf=/etc/beetlecoin/beetlecoin.conf -datadir=/var/lib/beetlecoind

ExecStop=-/usr/bin/beetlecoin-cli -conf=/etc/beetlecoin/beetlecoin.conf \
         -datadir=/var/lib/beetlecoind stop

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
